/.env.local
/.env.local.php
garmin-bridge/config/GarminConnectConfig.json
garmin-bridge/config/garmin_token.json
garmin-bridge/config/polyline_cache/
garmin-bridge/.venv/
storage/database/dreeve.db
build/
watch/
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
node_modules
/src/Entity
/src/Repository
.idea
config/reference.php
poc/

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.cache
.phpunit.result.cache
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> app-build ###
/config/app/*.yaml
/build
/storage
/cron
/ollama
/mercure
/watch
/tests/dreeve*.db*
/tests/strava*.db*
###> app-build ###
